body {
  background-image: url(background.jpg)
}

.header h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  margin-left: 80px;
}

#slappy {
  color: white;
  font-family: 'Luckiest Guy', cursive;
}

.footer .btn {
  font-family: 'Luckiest Guy', cursive;
  font-size: 45px;
  margin-left:100px;
  margin-top: 20px;
}

.modifier {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}